<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/screen.css" />
    <title>Bazar</title>
  </head>
  <body>
    <div class="wrapper">
      <header role="banner">Bazar</header>

      <nav role="navigation">
        <ul>
          <li><a href="/">Domů</a></li>
          <% if (locals.user) { %>
          <li><a href="/offer/create">Nový inzerát</a></li>
          <li>
            <a href="/user">Můj účet (<i><%= locals.user.name %></i>)</a>
          </li>
          <li><a href="/user/logout">Odhlásit se</a></li>
          <% } else { %>
          <li><a href="/user/login">Přihlásit se</a></li>
          <li><a href="/user/register">Registrovat se</a></li>
          <% } %>
        </ul>
      </nav>

      <% if (locals.message) { %>
      <div class="part"><%= locals.message %></div>
      <% } %>
      <!-- Inserted page -->
      <div class="page">
        <!--  -->