:root {
    --bg: #75cdff;
    --glass: rgba(254, 254, 254, 0.8);
    --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 4px 8px;
    gap: 10px;
    font-family: sans-serif;
    background: url(/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    font-size: 1.4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px
}

/* Navigation */
nav ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0
}

nav ul li {
    padding: 5px;
    background-color: var(--glass);
    box-shadow: var(--shadow);
    border-radius: 10px;
}

nav ul li a {
    display: block;
    color: #000;
    text-decoration: none;

}

/* Inserted page */
.page {
    display: flex;
    flex-direction: column;
    gap: 10px
}

/* Footer */
footer {
    border: none !important;
}

/* Parts */

form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

input,
select {
    height: 1.7rem;
}

input[type=text],
input[type=number],
input[type=password] select,
textarea {
    font-size: 1.15rem;
}

.part {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--glass);
    box-shadow: var(--shadow)
}

.part:hover,
nav ul li:hover {
    background-color: #fff;
    transition: 1.5s;
}

.offers {
    display: grid;
    gap: 10px
}

.offer-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    body {

        padding-left: 20vw;
        padding-right: 20vw;

    }
}